<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontendLog</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <nav class="nav">
                <a href="/" class="nav__logoWrapper">
                    <img class="nav__logo" src="/assets/icons/code_blocks_logo.svg" alt="">
                    <h1>Frontend<span>Log</span></h1>
                </a>
                <ul class="nav__list">
                    <li><a href="#">Strona główna</a></li>
                    <li><a href="#">O mnie</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </header>
    </div>
</body>

</html>