<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FrontendLog</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="icon" href="/assets/icons/favico/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/icons/favico/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icons/favico/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/icons/favico/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <script defer src="/scripts/main.js"></script>
</head>

<body>
    <header>
        <nav class="nav">
            <a href="/" class="nav__logoWrapper">
                <img class="nav__logo" src="/assets/icons/code_blocks_logo.svg" alt="" />
                <h1>Frontend<span>Log</span></h1>
            </a>
            <ul class="nav__list">
                <li><a href="#home">Strona główna</a></li>
                <li><a href="#articles">Artykuły</a></li>
                <li><a href="#about">O mnie</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div id="home" class="hidden page">
            <main id="" class="">
                <section class="hero ">
                    <h1 class="hero__title">Blog o frontendzie i nie tylko!</h1>
                    <h2 class="hero__subtitle">
                        FrontendLog - czyli moja droga do nauki programowania a
                        konkretniej frontendu w formie zwięzłych artykułów.
                        <span>Enjoy!</span>
                    </h2>
                </section>
            </main>

            <section id="" class=" latest">
                <h3 class="latest__header">Ostatnie posty</h3>
                <div class="latest__blogsWrapper">
                    <article id="article" class="latest__blogItem article">
                        <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                        <div class="latest__details">
                            <div class="latest__date">
                                <img src="/assets/icons/calendar.svg" alt="" />
                                <p>25 Listopada, 2023</p>
                            </div>
                            <div class="latest__readTime">
                                <img src="/assets/icons/clock.svg" alt="" />
                                <p>03 min read</p>
                            </div>
                        </div>
                        <a href="#articles/article-1" class="">
                            <h4 class="latest__title">
                                Operatory porównania (niejawna konwersja typów podczas
                                porównania), falsy values, truthy values
                            </h4>
                        </a>
                        <h5 class="latest__desc">
                            Jak działają operatory porównania i na co musimy uważać podczas
                            porównywania ze sobą dwóch wartości.
                        </h5>

                        <div class="latest__about">
                            <div class="latest__author">
                                <img src="/assets/icons/user.svg" alt="" />
                                <p>Jakub</p>
                            </div>

                            <div class="latest__category">
                                <p>JavaScript</p>
                            </div>
                        </div>
                    </article>
                    <article id="article-2" class="latest__blogItem">
                        <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                        <div class="latest__details">
                            <div class="latest__date">
                                <img src="/assets/icons/calendar.svg" alt="" />
                                <p>25 Listopada, 2023</p>
                            </div>
                            <div class="latest__readTime">
                                <img src="/assets/icons/clock.svg" alt="" />
                                <p>03 min read</p>
                            </div>
                        </div>

                        <a href="#articles/article-2" class="">
                            <h4 class="latest__title">
                                Operatory porównania (niejawna konwersja typów podczas
                                porównania), falsy values, truthy values
                            </h4>
                        </a>
                        <h5 class="latest__desc">
                            Jak działają operatory porównania i na co musimy uważać podczas
                            porównywania ze sobą dwóch wartości.
                        </h5>

                        <div class="latest__about">
                            <div class="latest__author">
                                <img src="/assets/icons/user.svg" alt="" />
                                <p>Jakub</p>
                            </div>

                            <div class="latest__category">
                                <p>JavaScript</p>
                            </div>
                        </div>
                    </article>

                    <article id="article-3" class="latest__blogItem article">
                        <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                        <div class="latest__details">
                            <div class="latest__date">
                                <img src="/assets/icons/calendar.svg" alt="" />
                                <p>25 Listopada, 2023</p>
                            </div>
                            <div class="latest__readTime">
                                <img src="/assets/icons/clock.svg" alt="" />
                                <p>03 min read</p>
                            </div>
                        </div>

                        <a href="#articles/article-3" class="">
                            <h4 class="latest__title">
                                Operatory porównania (niejawna konwersja typów podczas
                                porównania), falsy values, truthy values
                            </h4>
                        </a>
                        <h5 class="latest__desc">
                            Jak działają operatory porównania i na co musimy uważać podczas
                            porównywania ze sobą dwóch wartości.
                        </h5>

                        <div class="latest__about">
                            <div class="latest__author">
                                <img src="/assets/icons/user.svg" alt="" />
                                <p>Jakub</p>
                            </div>

                            <div class="latest__category">
                                <p>JavaScript</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>

        <section id="articles" class="hidden">
            <h2>Tutaj treść artykułów</h2>
            <div class="latest__blogsWrapper">
                <article id="article-1" class="latest__blogItem article hidden">
                    <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                    <div class="latest__details">
                        <div class="latest__date">
                            <img src="/assets/icons/calendar.svg" alt="" />
                            <p>25 Listopada, 2023</p>
                        </div>
                        <div class="latest__readTime">
                            <img src="/assets/icons/clock.svg" alt="" />
                            <p>03 min read</p>
                        </div>
                    </div>
                    <a href="#articles/article-1" class="">
                        <h4 class="latest__title">
                            Operatory porównania (niejawna konwersja typów podczas
                            porównania), falsy values, truthy values
                        </h4>
                    </a>
                    <h5 class="latest__desc">
                        Jak działają operatory porównania i na co musimy uważać podczas
                        porównywania ze sobą dwóch wartości.
                    </h5>

                    <div class="latest__about">
                        <div class="latest__author">
                            <img src="/assets/icons/user.svg" alt="" />
                            <p>Jakub</p>
                        </div>

                        <div class="latest__category">
                            <p>JavaScript</p>
                        </div>
                    </div>
                </article>

                <article id="article-2" class="latest__blogItem hidden">
                    <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                    <div class="latest__details">
                        <div class="latest__date">
                            <img src="/assets/icons/calendar.svg" alt="" />
                            <p>25 Listopada, 2023</p>
                        </div>
                        <div class="latest__readTime">
                            <img src="/assets/icons/clock.svg" alt="" />
                            <p>03 min read</p>
                        </div>
                    </div>

                    <a href="#articles/article-2" class="">
                        <h4 class="latest__title">
                            Operatory porównania (niejawna konwersja typów podczas
                            porównania), falsy values, truthy values
                        </h4>
                    </a>
                    <h5 class="latest__desc">
                        Jak działają operatory porównania i na co musimy uważać podczas
                        porównywania ze sobą dwóch wartości.
                    </h5>

                    <div class="latest__about">
                        <div class="latest__author">
                            <img src="/assets/icons/user.svg" alt="" />
                            <p>Jakub</p>
                        </div>

                        <div class="latest__category">
                            <p>JavaScript</p>
                        </div>
                    </div>
                </article>

                <article id="article-3" class="latest__blogItem article hidden">
                    <!-- <div class="latest__imgWrapper">
                        <img class="latest__thumb" src="/assets/thumbs/5.jpg" alt="">
                    </div> -->
                    <div class="latest__details">
                        <div class="latest__date">
                            <img src="/assets/icons/calendar.svg" alt="" />
                            <p>25 Listopada, 2023</p>
                        </div>
                        <div class="latest__readTime">
                            <img src="/assets/icons/clock.svg" alt="" />
                            <p>03 min read</p>
                        </div>
                    </div>

                    <a href="#articles/article-3" class="">
                        <h4 class="latest__title">
                            Operatory porównania (niejawna konwersja typów podczas
                            porównania), falsy values, truthy values
                        </h4>
                    </a>
                    <h5 class="latest__desc">
                        Jak działają operatory porównania i na co musimy uważać podczas
                        porównywania ze sobą dwóch wartości.
                    </h5>

                    <div class="latest__about">
                        <div class="latest__author">
                            <img src="/assets/icons/user.svg" alt="" />
                            <p>Jakub</p>
                        </div>

                        <div class="latest__category">
                            <p>JavaScript</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section id="about" class="hidden page">
            <h2>Tutaj kilka linijek o nas</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                sapiente hic ullam quod tempore reiciendis. Corrupti libero quae
                tenetur amet optio expedita voluptate! Sint delectus veritatis dolor
                fugit, natus fugiat!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                sapiente hic ullam quod tempore reiciendis. Corrupti libero quae
                tenetur amet optio expedita voluptate! Sint delectus veritatis dolor
                fugit, natus fugiat!
            </p>
        </section>

        <section id="contact" class="hidden page">
            <h2>Tutaj kilka linijek z tekstem kontaktowym</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                sapiente hic ullam quod tempore reiciendis. Corrupti libero quae
                tenetur amet optio expedita voluptate! Sint delectus veritatis dolor
                fugit, natus fugiat!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                sapiente hic ullam quod tempore reiciendis. Corrupti libero quae
                tenetur amet optio expedita voluptate! Sint delectus veritatis dolor
                fugit, natus fugiat!
            </p>
        </section>
    </div>
</body>

</html>