* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Manrope', sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 1rem 2.625rem;
  box-shadow: 0px 5px 0px 0px #8d8d8d0d;
  background-color: white; }

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

header .nav ul {
  list-style-type: none; }

header .nav a {
  text-decoration: none; }

header .nav__logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem; }

header .nav__logoWrapper h1 {
  font-size: 1.5rem;
  color: black;
  font-weight: 700; }

header .nav__logoWrapper h1 span {
  color: #42b883; }

header .nav__logo {
  width: 30px; }

header .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem; }

header .nav__list a {
  color: black;
  padding: .5rem; }

.hero {
  text-align: center;
  margin-top: calc(100px + 75px);
  padding: 3.5rem 0; }

.hero__title {
  font-size: 3.75rem;
  font-weight: 800; }

.hero__subtitle {
  margin: 1rem auto;
  font-size: 1.25rem;
  color: #c9c9c9;
  font-weight: 600;
  width: 60%; }

.hero__subtitle span {
  color: #42b883; }

.latest {
  margin-top: 5rem;
  background-color: #f9f9f9; }

.latest__header {
  font-size: 1.75rem; }

.latest__blogsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 4rem; }

.latest__blogItem {
  background-color: white; }

.latest__blogItem:nth-child(1) {
  grid-row: 1;
  grid-column: 1 / span 2; }

.latest__blogItem:nth-child(2) {
  grid-row: 2;
  grid-column: 1; }

.latest__blogItem:nth-child(3) {
  grid-row: 2;
  grid-column: 2; }

.latest__details {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: .75rem; }

.latest__imgWrapper {
  width: 100%;
  aspect-ratio: 4 / 1;
  overflow: hidden; }

.latest__thumb {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover; }

.latest__date, .latest__readTime {
  display: flex;
  align-items: center;
  gap: .5rem; }

.latest__date img, .latest__readTime img {
  width: 18px; }

.latest__title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 700; }

.latest__desc {
  color: #424242;
  font-weight: 600; }

.latest__about {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem; }

.latest__author {
  display: flex;
  align-items: center;
  gap: .25rem; }

.latest__author img {
  border-radius: 50%;
  width: 18px; }

.latest__author p {
  font-size: 0.75rem;
  font-weight: 700; }

.latest__category p {
  padding: .25rem .5rem;
  background-color: #f5f50d;
  color: black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 0.75rem; }
