* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: 'Manrope', sans-serif; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; }

header {
  padding: 1.5rem 2rem;
  box-shadow: 0px 5px 0px 0px #8d8d8d0d; }

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

header .nav ul {
  list-style-type: none; }

header .nav a {
  text-decoration: none; }

header .nav__logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem; }

header .nav__logoWrapper h1 {
  font-size: 2rem;
  color: black;
  font-weight: 700; }

header .nav__logoWrapper h1 span {
  color: #42b883; }

header .nav__logo {
  width: 35px; }

header .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem; }

header .nav__list a {
  color: black;
  padding: .5rem; }

.hero {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px; }
